<div class="subhead">
    <div class="container">
        <form class="row" style="justify-content: space-between;">
            <div class="breadcrumbs col-4">
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Moja prica</li>
                </ul>
            </div>
            <div class="col-3 flex-end" style="display: flex;">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 d-flex">
            <p>Objavljeno: 8.11.2022.</p>
            <p>Tagovi: intervju, Novi Sad, preduzetnica, Milica Stojanovic</p>
        </div>
        <div class="col-2 d-flex flex-end">
            <button>Share</button>
        </div>
    </div>

    <div class="row pd-t-4">
        <div class="col-7 d-flex" style="flex-flow: column;">
            <h1>Moja prica</h1>
            <h2>Milica Stojanovic, preduzetnica</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. Pellentesque lobortis dolor at arcu aliquet venenatis. Aenean pretium velit eu euismod pretium. Vestibulum ut diam enim. Sed vel
                tellus pharetra, dapibus turpis sit amet, vulputate elit. Maecenas in sollicitudin libero, eget tempus diam.
            </p>
            <div class="spacer-grey">
            </div>
        </div>

        <div class="col-4 flex-end">
            <div style="position: relative;">
                <div class="blog-header-img"></div>
                <div class="blog-deco-square"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7 main">
            <div>
                <h1>Kako sam počela</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, tellus et convallis imperdiet, magna risus gravida erat, et aliquam elit ante quis lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Vivamus at quam purus. Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus. Nullam posuere vulputate magna. Suspendisse eget justo id ante suscipit
                    pulvinar at in nisl. Morbi nec finibus tortor. Donec ac nisi et arcu hendrerit euismod. Cras sodales, risus eget euismod pulvinar, mi lorem consequat lorem, non consequat purus mauris et velit. Fusce accumsan nibh sed hendrerit imperdiet.
                    Vestibulum id dolor in purus posuere accumsan ac eget enim. Cras tempor tellus sit amet eros blandit, et gravida augue lobortis. Sed sit amet turpis magna.
                </p>
            </div>
            <img src="./assets/img/woman laptop typing.jpeg" alt="" style="max-width: 100%;">

            <div class="pd-t-2">
                <h1>My first job</h1>
                <p class="pd-t-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, tellus et convallis imperdiet, magna risus gravida erat, et aliquam elit ante quis lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Vivamus at quam purus. Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus. Nullam posuere vulputate magna. Suspendisse eget justo id ante suscipit
                </p>
            </div>

            <div class="quote pd-t-1">
                <em>Quisque efficitur nulla eget nulla vulputate, non placerat augue accumsan</em>
            </div>
            <p class="pd-t-1 pd-b-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, tellus et convallis imperdiet, magna risus gravida erat, et aliquam elit ante quis lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Vivamus at quam purus. Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus. Nullam posuere vulputate magna. Suspendisse eget justo id ante suscipit
            </p>

            <img src="./assets/img/women-business-high-rise-meeting.jpg" alt="" style="max-width: 100%;">

            <div class="pd-t-2">
                <h1>To conclude</h1>
                <p class="pd-t-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, tellus et convallis imperdiet, magna risus gravida erat, et aliquam elit ante quis lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Vivamus at quam purus. Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus. Nullam posuere vulputate magna. Suspendisse eget justo id ante suscipit
                </p>
            </div>
        </div>

        <div class="col-4 side flex-end">
            <div class="grey-box">
                <h4>Najnovije iz našega bloga</h4>
                <div class="spacer-grey">
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>
                <div>
                    <a class="pd-t-1" routerLink="/blog" style="color:unset">Read all</a>
                </div>
            </div>

            <div class="grey-box">
                <h4>Intervjui</h4>
                <div class="spacer-grey">
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>
                <div>
                    <h5>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h5>
                    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. </em>
                    <h6 class="pd-t-1">Objavljeno: 8.11.2022.</h6>
                    <div class="spacer-grey"></div>
                </div>

                <div>
                    <a class="pd-t-1" routerLink="/blog" style="color:unset">Read all</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="spacer-8"></div>