<div class="subhead">
    <div class="container">
        <form class="row" style="justify-content: space-between;">
            <div class="breadcrumbs col-4">
                <ul>
                    <li>Jobs</li>
                    <li>Novi Sad</li>
                    <li>IT</li>
                </ul>
            </div>


            <div class="col-3 flex-end" style="display: flex;">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="card job-card">
        <div class="row">
            <div class="badge-new">Novo</div>
            <button class="fav-btn">
                <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
            </button>
        </div>

        <div class="row text-left">
            <div class="job-title col-10">
                <h1>.NET Developer</h1>
                <h4>CodeMasters d.o.o.</h4>
                <p class="job-desc">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non
                    ullamcorper
                    at, cursus in sem. Nunc condimentum, purus ac sagittis ultricies,</p>
                <p class="place">Novi Sad</p>
                <p class="date">24.2.2023.</p>
                <div class="tag salary"> 1200 EUR</div>
            </div>
            <div class="card-img-holder flex-end col-2">
                <img class="" src="./assets/img/ph-logo-2.png" alt="Card image cap">
            </div>
        </div>

        <div class="row  pd-t-2">
            <div class="tag-container d-flex col-8">
                <div class="tag">developer</div>
                <div class="tag">c#</div>
                <div class="tag">angular</div>
                <div class="tag">Novi Sad</div>
                <div class="tag">junior</div>
                <div class="tag">Od kuće</div>
                <div class="tag">IT</div>
            </div>
            <div class="d-flex flex-end col-4">
                <button class="">
                    <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
                </button>
                <button class="">
                    <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
                </button>
                <button class="btn btn-outline-primary">Apply</button>
            </div>
        </div>

        <div class="pd-t-6"></div>


        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-job-description-tab" data-bs-toggle="tab"
                data-bs-target="#nav-job-description" type="button" role="tab" aria-controls="nav-job-description"
                aria-selected="true">Job description</button>
            <button class="nav-link" id="nav-about-company-tab" data-bs-toggle="tab" data-bs-target="#nav-about-company"
                type="button" role="tab" aria-controls="nav-about-company" aria-selected="false">About company</button>
        </div>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-job-description" role="tabpanel"
                aria-labelledby="nav-job-description-tab">
                <h4>Position Summary</h4>
                <ul>
                    <li>Guide onshore and offshore development resources on day to day tasks such as design
                        discussions,
                        code review etc.
                    </li>
                    <li>
                        Design, develop, enhance, test, support, maintain and debug software applications
                    </li>
                    <li>
                        Utilize latest development technologies to solve for business requirements, Responsive Web
                        Design,
                        and ADA (American Disabilities Act) compliance
                    </li>
                    <li>Guide onshore and offshore development resources on day to day tasks such as design
                        discussions,
                        code review etc.
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="nav-about-company" role="tabpanel" aria-labelledby="nav-about-company-tab">
                <h2>ABOUT US</h2>
                <p>
                    We re tralalallala
                </p>
            </div>
        </div>

        <div class="pd-t-4"></div>

        <div class="row pd-t-4" style="border-top:1px solid #7d7d7d">
            <div class="d-flex col-4">
                <button class="">
                    <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
                </button>
                <button class="">
                    <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
                </button>
                <button class="btn btn-outline-primary">Apply</button>
            </div>
        </div>

    </div>
</div>

<!-- CONTAINER AND CARD END -->


<!-- OSTALI OGLASI -->
<div style="background-color: #F1F1F1;">
    <div class="container" id="izdvojeni-oglasi">
        <div class="row flex-nowrap">
            <div class="col-10">
                <h2>Ostali oglasi ovog poslodavca</h2>
            </div>
            <div class="col-2" style="display: flex;justify-content: end;">
                <button class="btn btn-sm btn-outline-primary" style="justify-content: end;">Pogledaj i ostale</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Business analytics</h3>
                        <h6 class="card-text">Medior / Senior</h6>
                        <p class="card-text pd-t-2">Srbija, Novi Sad<br>Ističe: 24.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">

                    <div class="card-body pd-t-4">
                        <h3 class="card-title">QA tester</h3>
                        <h6 class="card-text">Junior</h6>
                        <p class="card-text pd-t-2">Srbija, Zrenjanin<br>Ističe: 12.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Social media manager</h3>
                        <h6 class="card-text">Praksa</h6>
                        <p class="card-text pd-t-2">Srbija, Beograd<br>Ističe: 2.12.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///////////// -->



<!-- SLICNI OGLASI -->
    <div class="container" id="izdvojeni-oglasi">
        <div class="row flex-nowrap">
            <div class="col-10">
                <h2>Slicnii oglasi</h2>
            </div>
            <div class="col-2" style="display: flex;justify-content: end;">
                <button class="btn btn-sm btn-outline-primary" style="justify-content: end;">Pogledaj i ostale</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Business analytics</h3>
                        <h6 class="card-text">Medior / Senior</h6>
                        <p class="card-text pd-t-2">Srbija, Novi Sad<br>Ističe: 24.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-1.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">QA tester</h3>
                        <h6 class="card-text">Junior</h6>
                        <p class="card-text pd-t-2">Srbija, Zrenjanin<br>Ističe: 12.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-3.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Social media manager</h3>
                        <h6 class="card-text">Praksa</h6>
                        <p class="card-text pd-t-2">Srbija, Beograd<br>Ističe: 2.12.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ///////////// -->