<div class="subhead">
    <div class="container">
        <form class="row">
            <div class="col-11" style="display: flex;">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-1" style="display: flex;">
                <img class="icon" style="width: 32px;"src="./assets/icons/icon-filter.svg" alt="">
            </div>
        </form>

    </div>
</div>