<div class="subhead">
    <div class="container">
        <form class="row">
            <div class="col-11" style="display: flex;">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-1" style="display: flex;">
                <img class="icon" style="width: 32px;" src="./assets/icons/icon-filter.svg" alt="">
            </div>
        </form>

        <div class="tag-container row pd-t-2">
            <p>Popularne pretrage</p>
            <div class="tag">developer</div>
            <div class="tag">c#</div>
            <div class="tag">angular</div>
            <div class="tag">Novi Sad</div>
            <div class="tag">junior</div>
            <div class="tag">Od kuće</div>
            <div class="tag">IT</div>
        </div>
    </div>
</div>
<div class="pd-t-4"></div>
<div class="results-jobs">
    <div class="container">

        <h1>Rezultati pretrage</h1>
        <div class="tag-container row pd-t-2">
            <div class="tag">developer</div>
            <div class="tag">Novi Sad</div>
        </div>

        <div class="card job-card">
            <div class="row">
                <div class="badge-new">Novo</div>
                <button class="fav-btn">
                    <img class="icon mr-1" src="./assets/icons/heart.svg" alt="">
                </button>
            </div>

            <div class="row text-left">
                <div class="job-title col-10">
                    <h1>.NET Developer</h1>
                    <h4>CodeMasters d.o.o.</h4>
                    <p class="job-desc">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non
                        ullamcorper
                        at, cursus in sem. Nunc condimentum, purus ac sagittis ultricies,</p>
                    <p class="place">Novi Sad</p>
                    <p class="date">24.2.2023.</p>
                    <div class="tag salary"> 1200 EUR</div>
                </div>
                <div class="card-img-holder flex-end col-2">
                    <img class="" src="./assets/img/ph-logo-2.png" alt="Card image cap">
                </div>
            </div>

            <div class="row  pd-t-2">
                <div class="tag-container d-flex col-8">
                    <div class="tag">developer</div>
                    <div class="tag">c#</div>
                    <div class="tag">angular</div>
                    <div class="tag">Novi Sad</div>
                    <div class="tag">junior</div>
                    <div class="tag">Od kuće</div>
                    <div class="tag">IT</div>
                </div>
                <div class="d-flex flex-end col-4">
                    <button routerLink="/job" class="btn btn-outline-primary">More details</button>

                </div>
            </div>

        </div>
    </div>
</div>