<!-- HEADING -->
<div class="container" id="heading">
    <div class="row">
        <div class="col-7">
            <div class="row mt-4">
                <h1>Empowered women<br>Empower women</h1>
            </div>
            <div class="row mt-4 pd-r-2">
                <h4>In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at, cursus in
                    sem.
                    Nunc condimentum, purus ac sagittis ultricies</h4>
            </div>
            <div class="row mt-4">
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="./assets/img/section-1-1.png">
        </div>
    </div>
</div>
<!-- ///////////// -->



<!-- IZDVOJENI -->
<div style="background-color: #F1F1F1;">
    <div class="container" id="izdvojeni-oglasi">
        <div class="row flex-nowrap">
            <div class="col">
                <h2>Izdvojeni oglasi</h2>
            </div>
            <div class="col" style="display: flex;justify-content: end;">
                <button class="btn btn-sm btn-outline-primary" style="justify-content: end;">Pogledaj i ostale</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Business analytics</h3>
                        <h6 class="card-text">Medior / Senior</h6>
                        <p class="card-text pd-t-2">Srbija, Novi Sad<br>Ističe: 24.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-1.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">QA tester</h3>
                        <h6 class="card-text">Junior</h6>
                        <p class="card-text pd-t-2">Srbija, Zrenjanin<br>Ističe: 12.11.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/ph-logo-3.png" alt="Card image cap">
                    </div>
                    <div class="card-body pd-t-4">
                        <h3 class="card-title">Social media manager</h3>
                        <h6 class="card-text">Praksa</h6>
                        <p class="card-text pd-t-2">Srbija, Beograd<br>Ističe: 2.12.2022.</p>
                        <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///////////// -->


<!-- O NAMA -->
<div class="container" id="o-nama">
    <div class="row text-center">
        <h2>O nama</h2>
    </div>
    <div class="row mt-4">
        <div class="col-4 pd-l-4 pd-r-4 text-center">
            <img class="icon" src="./assets/icons/icon-1.svg" alt="">
            <h3 class="pd-t-1">Lorem Ipsum</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
        </div>
        <div class="col-4 pd-l-4 pd-r-4 text-center">
            <img class="icon" src="./assets/icons/icon-1.svg" alt="">
            <h3 class="pd-t-1">Lorem Ipsum</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
        </div>
        <div class="col-4 pd-l-4 pd-r-4 text-center">
            <img class="icon" src="./assets/icons/icon-1.svg" alt="">
            <h3 class="pd-t-1">Lorem Ipsum</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
        </div>
    </div>
</div>
<!-- ///////////// -->



<!-- INTERVJU -->
<div style="background-color: #F1F1F1;">
    <div class="container" id="interview">
        <div class="row">
            <div class="col-6">
                <div style="position: relative;">
                    <div class="home-interview-img"></div>
                    <div class="deco-square"></div>
                </div>
            </div>

            <div class="col-6">
                <div class="row mt-4">
                    <p>Interview</p>
                    <h2 class="t-blue">Moja priča<br>o uspehu</h2>
                </div>
                <div class="row mt-2 pd-r-2">
                    <h4>In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at, cursus
                        in sem.
                        Nunc condimentum, purus ac sagittis ultricies</h4>
                </div>
                <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
            </div>
        </div>
    </div>
</div>

<!-- ZLATNI PARTNERI -->
<div class="container">
    <div class="row text-center">
        <h2>Nasi zlatni partneri</h2>
    </div>

    <div class="row">
        <div class="col-3 text-center pd-4">
            <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
            <h4 class="mt-3">Freesource Coding</h4>
        </div>
        <div class="col-3 text-center pd-4">
            <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
            <h4 class="mt-3">Freesource Coding</h4>
        </div>
        <div class="col-3 text-center pd-4">
            <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
            <h4 class="mt-3">Freesource Coding</h4>
        </div>
        <div class="col-3 text-center pd-4">
            <img class="card-img-top" src="./assets/img/ph-logo-2.png" alt="Card image cap">
            <h4 class="mt-3">Freesource Coding</h4>
        </div>
    </div>
</div>



<!-- NEWSLETTER -->
<div style="background-color: #F1F1F1;">
    <div class="container" id="newsletter">
        <div class="card-blue">
            <h2>Prijavi se na naš newsletter</h2>
            <h4 style="margin: 2rem 0rem">Ostani u toku sa novim oglasima, intervjuima, savetima i dešavanjima iz sveta
                biznisa
            </h4>
            <div class="row" style="margin:auto;">
                <form action="/action_page.php">
                    <input class="col-4" type="text" placeholder="Ime i prezime" name="ime">
                    <input class="col-4" type="text" placeholder="Email" name="email">
                    <button class="btn btn-sm btn-outline-primary col-4">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- TESTEMONIALS -->
<div class="container" id="testemonials">
    <div class="row">
        <h1>Rekli su o nama</h1>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <h4>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ”</h4>
                <h3 style="font-weight: 700;">Tanja Nikodinovic</h3>
                <p>Project Manager</p>
                <div class="home-testem-img">
                </div>
                <div class="testem-arrows-holder">
                    <button><i class="fa-solid fa-arrow-left"></i></button>
                    <button><i class="fa-solid fa-arrow-right"></i></button>


                </div>


            </div>
        </div>
    </div>
</div>