<div class="subhead">
    <div class="container">
        <form class="row" style="justify-content: space-between;">
            <div class="breadcrumbs col-4">
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                </ul>
            </div>

            <div class="col-3 flex-end" style="display: flex;">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <h1> Naš blog </h1>
    <div class="row">
        <div class="tag-container row col-10 pd-t-2">
            <div style="width: fit-content;">
                <p>Categories</p>
            </div>
            <div class="tag">developer</div>
            <div class="tag">c#</div>
            <div class="tag">angular</div>
            <div class="tag">Novi Sad</div>
            <div class="tag">junior</div>
            <div class="tag">Od kuće</div>
            <div class="tag">IT</div>

        </div>

        <div class="col-2 pd-t-2 d-flex flex-end">
            Dropdown
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="" routerLink="/blog-post">
                <div class="card card-blog">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/blog-1.webp" alt="Card image cap">
                    </div>
                    <div class="text content text-left pd-t-2">
                        <p>Intervju</p>
                        <h3>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h3>
                        <h4>Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus</h4>
                        <p class="pd-t-1">Objavljeno: 8.11.2022.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="" routerLink="/blog-post">
                <div class="card card-blog">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/blog-1.webp" alt="Card image cap">
                    </div>
                    <div class="text content text-left pd-t-2">
                        <p>Intervju</p>
                        <h3>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h3>
                        <h4>Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus</h4>
                        <p class="pd-t-1">Objavljeno: 8.11.2022.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="" routerLink="/blog-post">
                <div class="card card-blog">
                    <div class="card-img-holder">
                        <img class="card-img-top" src="./assets/img/blog-1.webp" alt="Card image cap">
                    </div>
                    <div class="text content text-left pd-t-2">
                        <p>Intervju</p>
                        <h3>Fusce accumsan sed hendrerit imperdiet Vestibulum id dolor</h3>
                        <h4>Nam a tellus non ipsum pharetra ultrices et at lectus. Aenean dui elit, lobortis sodales condimentum a, bibendum ac lacus</h4>
                        <p class="pd-t-1">Objavljeno: 8.11.2022.</p>
                    </div>
                </div>
            </a>
        </div>



    </div>











</div>