<div class="subhead">
    <div class="container">
        <div class="row" style="justify-content: space-between;">
            <div class="breadcrumbs col-4">
                <ul>
                    <li>Home</li>
                    <li>Companies</li>
                    <li>Company Name</li>
                </ul>
            </div>
            <div class="col-3 flex-end" style="display: flex;">
                <form action="">
                    <div class="search-container">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--     <div class="row">
        <div class="col-10 d-flex">
            <p>Objavljeno: 8.11.2022.</p>
            <p>Tagovi: intervju, Novi Sad, preduzetnica, Milica Stojanovic</p>
        </div>
        <div class="col-2 d-flex flex-end">
            <button>Share</button>
        </div>
    </div> -->
    <h1>Our Company DOO</h1>

    <div class="row pd-t-1">

        <div class="col-7 d-flex" style="flex-flow: column;">
            <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis tellus sit amet dui lacinia pulvinar. Pellentesque lobortis dolor at arcu aliquet venenatis. Aenean pretium velit eu euismod pretium. Vestibulum ut diam enim. Sed vel
                tellus pharetra, dapibus turpis sit amet, vulputate elit. Maecenas in sollicitudin libero, eget tempus diam. Aliquam sit amet quam libero. In euismod, massa nec pellentesque consequat, leo purus ultricies ipsum,
                et aliquet nisl lacus in diam. Phasellus ullamcorper metus vulputate dui ornare, nec porta lorem tristique. Curabitur non egestas risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus tempor
                arcu massa, varius pellentesque lacus gravida nec. Aenean venenatis erat nec elementum vestibulum.
            </em>
        </div>
        <div class="col-4 text-right">
            <div>
                <img src="./assets/img/logo-company-1.svg" alt="">
            </div>
        </div>
    </div>
    <div class="spacer-grey"></div>
    <div class="row">
        <div class="col-3">
            <ul>
                <li>Bulevar Oslobođenja 23</li>
                <li>Novi Sad</li>
                <li>+381 21 421 14 14</li>
                <li>office@rightcode.com</li>
                <li>rightcode.com</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>Broj zaposlenih: 50 - 100</li>
                <li>Godina osnivanja: 2018.</li>
                <li>Matični broj: 20201192</li>
                <li>PIB: 129021949</li>
            </ul>
        </div>
        <div class="col-6 flex-end">
            <div class="text-right">
                <img class="icon-black-48 mr-1" src="./assets/icons/icon-fb.svg" alt="">
                <img class="icon-black-48 mr-1" src="./assets/icons/icon-ig.svg" alt="">
                <img class="icon-black-48" src="./assets/icons/icon-tw.svg" alt="">
            </div>
        </div>
    </div>
    <div class="spacer-grey"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="./assets/img/comp-det-1.png" alt="" style="width: 100%;">
        </div>
        <div class="col-6">
            <img src="./assets/img/comp-det-1.png" alt="" style="width: 100%;">
        </div>
    </div>
    <div class="row" style="padding-top:1rem">
        <div class="col-6">
            <img src="./assets/img/comp-det-1.png" alt="" style="width: 100%;">
        </div>
        <div class="col-6">
            <img src="./assets/img/comp-det-1.png" alt="" style="width: 100%;">
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-6 pd-t-1 pd-r-2">
            <h1>O nama</h1>
            <p class="pd-t-1">Quisque sapien lorem, fermentum molestie leo et, bibendum lacinia lectus. Morbi nisl nibh, dignissim at consequat sit amet, bibendum et lacus. Suspendisse congue lectus nisi, quis dapibus ipsum tristique sit amet. Vestibulum ac nunc et risus
                tristique fringilla. Aliquam faucibus efficitur ligula, a commodo mauris maximus vel. Nam cursus lobortis nisi nec accumsan. Sed purus magna, aliquam at nulla ut, scelerisque hendrerit est. Quisque efficitur nulla eget nulla vulputate,
                non placerat augue accumsan. Nullam dictum, mauris ac finibus mollis, ligula urna suscipit elit, vitae cursus tortor nulla eu lacus. Aliquam sit amet quam libero. In euismod, massa nec pellentesque consequat, leo purus ultricies ipsum,
                et aliquet nisl lacus in diam. Phasellus ullamcorper metus vulputate dui ornare, nec porta lorem tristique. Curabitur non egestas risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus tempor
                arcu massa, varius pellentesque lacus gravida nec. Aenean venenatis erat nec elementum vestibulum.
            </p>
        </div>

        <div class="col-6 pd-t-1 pd-r-2">
            <h1>Naši zaposleni</h1>
            <p class="pd-t-1">Quisque sapien lorem, fermentum molestie leo et, bibendum lacinia lectus. Morbi nisl nibh, dignissim at consequat sit amet, bibendum et lacus. Suspendisse congue lectus nisi, quis dapibus ipsum tristique sit amet. Vestibulum ac nunc et risus
                tristique fringilla. Aliquam faucibus efficitur ligula
            </p>
            <ul>
                <li>Nam cursus lobortis nisi nec accumsan. </li>
                <li>Sed purus magna, aliquam at nulla ut, scelerisque hendrerit est. </li>
                <li>Quisque efficitur nulla eget nulla vulputate, non placerat augue accumsan. </li>
                <li>Nullam dictum, mauris ac finibus mollis, ligula urna suscipit elit,</li>
                <li>Aliquam sit amet quam libero. In euismod, massa nec pellentesque consequat, leo purus ultricies ipsum, et aliquet nisl lacus in diam.</li>
                <li>Phasellus ullamcorper metus vulputate dui ornare, nec porta lorem tristique.</li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-6 pd-t-1 pd-r-2">
            <h1>Beneficije</h1>
            <p class="pd-t-1">Aliquam faucibus efficitur ligula, a commodo mauris maximus vel. Nam cursus lobortis nisi nec accumsan. Sed purus magna, aliquam at nulla ut, scelerisque hendrerit est. </p>
            <ul>
                <li>Nam cursus lobortis nisi nec accumsan. </li>
                <li>Sed purus magna, aliquam at nulla ut, scelerisque hendrerit est. </li>
                <li>Quisque efficitur nulla eget nulla vulputate, non placerat augue accumsan. </li>
                <li>Nullam dictum, mauris ac finibus mollis, ligula urna suscipit elit,</li>
                <li>Aliquam sit amet quam libero. In euismod, massa nec pellentesque consequat, leo purus ultricies ipsum, et aliquet nisl lacus in diam.</li>
                <li>Phasellus ullamcorper metus vulputate dui ornare, nec porta lorem tristique.</li>
            </ul>
        </div>
        <div class="col-6 ">
            <h1>Utisci</h1>
            <div class="pd-t-1 pd-r-2">
                <h5>Jovan Dimitrijević, CEO</h5>
                <em class="pd-t-1">Quisque sapien lorem, fermentum molestie leo et, bibendum lacinia lectus. Morbi nisl nibh, dignissim at consequat sit amet, bibendum et lacus. Suspendisse congue lectus nisi, quis dapibus ipsum tristique sit amet.
                    </em>
            </div>

            <div class="pd-t-1 pd-r-2">
                <h5>Nataša Đurić, HR</h5>
                <em class="pd-t-1">Suspendisse congue lectus nisi, quis dapibus ipsum tristique sit amet. Vestibulum ac nunc et risus tristique fringilla. Aliquam faucibus efficitur ligula,
                    </em>
            </div>

            <div class="pd-t-1 pd-r-2">
                <h5>Stefan Vučković, Junior .NET developer</h5>
                <em class="pd-t-1">Quisque efficitur nulla eget nulla vulputate, non placerat augue accumsan. Nullam dictum, mauris ac finibus mollis, ligula urna suscipit elit. Aliquam sit amet quam libero. In euismod, massa nec pellentesque consequat, leo purus ultricies ipsum, et aliquet nisl lacus in diam.
                    </em>
            </div>

            <div class="pd-t-1 pd-r-2">
                <h5>Jovana Jakovljević, UI Designer</h5>
                <em class="pd-t-1">Suspendisse congue lectus nisi, quis dapibus ipsum tristique sit amet. Vestibulum ac nunc et risus tristique fringilla. Aliquam faucibus efficitur ligula,
                    </em>
            </div>

        </div>
    </div>
</div>

<!-- OSTALI OGLASI -->
<div class="spacer-4"></div>
<div class="container" id="izdvojeni-oglasi">
    <div class="row flex-nowrap">
        <div class="col-10">
            <h2>Ostali oglasi ovog poslodavca</h2>
        </div>
        <div class="col-2" style="display: flex;justify-content: end;">
            <button class="btn btn-sm btn-outline-primary" style="justify-content: end;">Pogledaj i ostale</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-body pd-t-4">
                    <h3 class="card-title">Business analytics</h3>
                    <h6 class="card-text">Medior / Senior</h6>
                    <p class="card-text pd-t-2">Srbija, Novi Sad<br>Ističe: 24.11.2022.</p>
                    <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">

                <div class="card-body pd-t-4">
                    <h3 class="card-title">QA tester</h3>
                    <h6 class="card-text">Junior</h6>
                    <p class="card-text pd-t-2">Srbija, Zrenjanin<br>Ističe: 12.11.2022.</p>
                    <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body pd-t-4">
                    <h3 class="card-title">Social media manager</h3>
                    <h6 class="card-text">Praksa</h6>
                    <p class="card-text pd-t-2">Srbija, Beograd<br>Ističe: 2.12.2022.</p>
                    <a href="#" class="btn btn-outline-primary mt-2">Detaljnije</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer-8"></div>

<!-- ///////////// -->